# datio1.0 - 5/10/2016 - sistemas@datiobd.com
script-security 2
dev tun
persist-tun
persist-key
cipher AES-256-CBC
auth SHA1
tls-client
client
hand-window 10
keepalive 10 120
resolv-retry infinite
remote {{ datio_vpn_config.host }} {{ datio_vpn_config.port }} udp
lport 0
verify-x509-name "pfsenseCA" name
auth-user-pass
pkcs12 {{ openvpn_user_dir }}/datio/datio.p12
tls-auth {{ openvpn_user_dir }}/datio/datio.key 1
ns-cert-type server
#up /etc/openvpn/update-resolv-conf
#down /etc/openvpn/update-resolv-conf
